* {
  box-sizing: border-box;
}

body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.main-content {
  /* background-color: orange; */
  border: 2px solid black;
  padding: 0 50px 0 50px;
  width: 500px;
  margin: 0;
  justify-content: center;
}

.input-section {
  margin-bottom: 30px;
  margin-bottom: 40px;
  position: relative;
}

.input-section input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.input-section input:focus {
  outline: 0;
  border-color: #797678;
}

.input-section.error input {
  border-color: #d91639;
}

.input-section.success input {
  border-color: #20e722;
}

h1 {
  text-align: center;
  color: black;
  font-size: 30px;
}

.input-section small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #d91639;
}

.input-section.error small {
  visibility: visible;
}

.main-content button {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 16px;
  background-color: #2fbbe7;
  border-radius: 4px;
  color: #fff;
}

.main-content button:focus {
  outline: 0;
}